.post {
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post__top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
}

.post__topInfo > h3 {
  margin-left: 15px;
}

.post__topInfo > p {
  margin-left: 15px;
}

.post__bottom {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 25px;
}

.post__image > img {
  width: 100%;
}
.post__options {
  border-top: 1px solid lightgray;
  padding-top: 10px;
  color: lightgrey;
  display: flex;
  justify-content: space-evenly;
}

.post__option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 10px;
}

.post__option:hover {
  background-color: #eff2f5;
  border-radius: 1000px;
  color: #2eb1f4;
}

.post__option > p {
  margin-left: 10px;
}
